*.iml
*.ipr
.idea
.settings
.classpath
.project
.buildpath
.sass-cache
.DS_Store
Thumbs.db
logs
doc
target
application.local.properties
/uploads/
.externalToolBuilders/
*.bak
*.md
*/META-INF/*
*/uploads/*
!/src/main/webapp/static/js/containers/employee/create.js
