<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.damei.repository.standBook.InstallBaseChangeStandBookDao">
    <resultMap id="BaseResultMap" type="cn.damei.entity.standBook.InstallBaseChangeStandBook">
        <result column="ConstructionChangeNo" property="constructionChangeNo"/>
        <result column="ChangeType" property="changeType"/>
        <result column="ChangeProjectName" property="changeProjectName"/>
        <result column="Unit" property="unit"/>
        <result column="Amount" property="amount"/>
        <result column="Loss" property="loss"/>
        <result column="LaborCosts" property="laborCosts"/>
        <result column="TotalUnitPrice" property="totalUnitPrice"/>
        <result column="UnitProjectTotalPrice" property="unitProjectTotalPrice"/>
        <result column="Explain" property="explain"/>
        <result column="ChangeApplyDate" property="changeApplyDate"/>
    </resultMap>

    <select id="findInstallBaseChange" resultMap="BaseResultMap">
        select a.OrderNo,a.ChangeApplyDate,b.* from
        Ord_ConstructionChange a
        left join Ord_ConstructionChange_child b
        on a.ConstructionChangeNo=b.ConstructionChangeNo where OrderNo = #{orderno} AND b.pkid is not null
        ORDER BY a.ConstructionChangeNo DESC
    </select>

</mapper>