<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.damei.repository.vacation.VacationDao">
  <resultMap id="BaseResultMap" type="Vacation">
    <id column="id" property="id"/>
    <result column="apply_title" property="applyTitle"/>
    <result column="apply_code" property="applyCode"/>
    <result column="emp_id" property="employee.id"/>
    <result column="start_time" property="startTime"/>
    <result column="end_time" property="endTime"/>
    <result column="days" property="days"/>
    <result column="reason" property="reason"/>
    <result column="img_url" property="imgUrl"/>
    <result column="status" property="status"/>
    <result column="create_time" property="createTime"/>
    <result column="approver_name" property="approver"/>
    <result column="apply_type" property="applyType"/>
    <result column="apply_type_cn" property="applyTypeCn"/>
  </resultMap>
  <sql id="SelectInfo">
    id, apply_title,apply_code, emp_id, start_time, end_time, days, reason, img_url, status, create_time,apply_type
  </sql>

  <select id="getById" parameterType="long" resultMap="BaseResultMap">
    select
    <include refid="SelectInfo"/>
    from oa_vacation
    where id = #{id}
  </select>

  <delete id="deleteById" parameterType="long">
    delete from oa_vacation
    where id = #{id}
  </delete>

  <insert id="insert" keyProperty="id" parameterType="Vacation" useGeneratedKeys="true">
    insert into oa_vacation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyTitle != null" >
        apply_title,
      </if>
      <if test="applyCode != null" >
        apply_code,
      </if>
      <if test="employee != null">
        emp_id,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="days != null">
        days,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="applyType != null">
        apply_type,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyTitle != null" >
        #{applyTitle},
      </if>
      <if test="applyCode != null" >
        #{applyCode},
      </if>
      <if test="employee != null">
        #{employee.id},
      </if>
      <if test="startTime != null">
        #{startTime},
      </if>
      <if test="endTime != null">
        #{endTime},
      </if>
      <if test="days != null">
        #{days},
      </if>
      <if test="reason != null">
        #{reason},
      </if>
      <if test="imgUrl != null">
        #{imgUrl},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="applyType != null">
        #{applyType},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="Vacation">
    update oa_vacation
    <set>
      <if test="applyTitle != null" >
        apply_title = #{applyTitle},
      </if>
      <if test="applyCode != null" >
        apply_code = #{applyCode},
      </if>
      <if test="employee != null">
        emp_id = #{employee.id},
      </if>
      <if test="startTime != null">
        start_time = #{startTime},
      </if>
      <if test="endTime != null">
        end_time = #{endTime},
      </if>
      <if test="days != null">
        days = #{days},
      </if>
      <if test="reason != null">
        reason = #{reason},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="applyType != null">
        apply_type = #{applyType},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="search" parameterType="map" resultMap="BaseResultMap">
<!--     SELECT -->
<!--     v.*,e.name AS approver_name -->
<!--     FROM oa_vacation v -->
<!--     LEFT JOIN oa_wf_process p ON v.id = p.form_id -->
<!--     LEFT JOIN oa_employee e ON p.approver_id = e.id -->
    
    SELECT v.*,b.approver_name,d.name as apply_type_cn
    from oa_vacation v
    left join (
      select x.form_id,group_concat(y.name) as approver_name
      from oa_wf_process x left join oa_employee y on x.approver_id = y.id where x.type = 'LEAVE' and x.`status` = 'PENDING' group by apply_code
    ) b on v.id = b.form_id
    left join oa_dictionary d on v.apply_type = d.id
     where 1=1
      <if test="empId != null">
        AND v.emp_id = #{empId}
      </if>
      <if test="startTime != null">
        AND v.start_time &gt; #{startTime}
      </if>
      <if test="endTime != null">
        AND v.end_time &lt; #{endTime}
      </if>
    ORDER BY id DESC
  </select>
</mapper>