<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.damei.repository.sign.SignSiteDao">
    <resultMap id="BaseResultMap" type="cn.damei.entity.sign.SignSite">
        <id property="id" column="id"/>
        <result property="sitename" column="sitename"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="radii" column="radii"/>
    </resultMap>

    <select id="search" parameterType="map" resultMap="BaseResultMap">
        SELECT * FROM oa_signsite
    </select>

    <insert id="insert" parameterType="cn.damei.entity.sign.SignSite" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO oa_signsite(sitename,longitude,latitude,radii)
        VALUES (#{sitename},#{longitude},#{latitude},#{radii})
    </insert>

    <delete id="deleteById" parameterType="long">

    DELETE FROM oa_signsite WHERE id=#{id}

  </delete>

    <select id="findSignScope" resultMap="BaseResultMap">
        SELECT * FROM oa_signsite
    </select>

    <select id="getById" parameterType="long" resultMap="BaseResultMap">
         select * from oa_signsite where id=#{id}
    </select>

    <update id="update" parameterType="cn.damei.entity.sign.SignSite">
        UPDATE oa_signsite
        <set>
            <if test="sitename != null">
                sitename=#{sitename},
            </if>
            <if test="longitude != null">
                longitude=#{longitude},
            </if>
            <if test="latitude != null">
                latitude=#{latitude},
            </if>
            <if test="radii != null">
                radii=#{radii},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>